.level-up-bar {
    max-width: max-content;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
    position: relative;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
    width: 0%;
  }
